.widget{
    position:relative;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.71);
    border-radius:5px;
    padding:1px;
    padding-top:10px;
    padding-bottom:10px;
    width:calc(100% - 2px);
    height:calc(100% - 20px);
    overflow:hidden;
}

.vis {
    padding:10px;
    width:calc(100% - 20px);
}

@scale: 0.85;

.frame {
    width: calc(100%/@scale);
    height: calc(100%/@scale);
    border: 0;

    -ms-transform: scale(@scale);
    -moz-transform: scale(@scale);
    -o-transform: scale(@scale);
    -webkit-transform: scale(@scale);
    transform: scale(@scale);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
